body{
	background-color:#D3D3D3;
	padding: 0;
	margin: 0;

  height: 100%;
  margin: 0;
}

html{
  height: 100%;
  margin: 0;
}

.navbar{
	background-color: #2F6EA7;
	width: 100%;
	height: 60px;
	float: left;
}

.name{
	font-size: 40px;
	padding: 10px;
	float: left;
}

.name a{
	text-decoration: none;
	color: #D5D8DC;
}

.header-content{
	display: flex;
	justify-content: center;
	width: 150px;
	height: 100%;
	padding: 5px;
	float: right;
}
.header-content a{
	color: #991C14;
	font-size: 25px;
	padding: 10px;
	text-decoration: none;
}


.left-menu{
	background-color: #D5DBDE;
	height: 100%;
	width: 10%;
	float: left;
}

.left-menu div{
	width: 95%;
	margin: 5px;
	font-size:30px;
	text-decoration: none;
	color: black;
}

.left-menu div:hover{
	background-color: #9DA9AF;
}

.left-menu a{
	text-decoration: none;
}

.context{
	background-color: white;
	height: 100%;
	width: 90%;
	float: left;
}

